<h2><span class="glyphicon glyphicon-book"></span> Education</h2>

<h3 class="date first">2009 - 2010</h3>
<h4>Post-graduate Master of Advanced Studies (MAS)</h4> 
<p>Information Technologies and Computer Science Advanced Tendencies  at <a target="_blank" href="http://www.uclm.es/">University of Castilla-La Mancha</a>. 
    Principal Subjects:</p>
<ul>
    <li>High performance hardware systems.</li>
    <li>Collaborative systems, </li>
    <li>GRID and Cloud Computing.</li> 
    <li>Advanced Human-Computer interaction.</li>
    <li>Abstract software engineerings approaches.</li>
</ul>

<h3 class="date">2001 - 2007</h3>
<h4>Master's degree</h4>    
<p>Computer Science  at <a target="_blank" href="http://www.uclm.es/">University of Castilla-La Mancha</a>. 
    Master's thesis: Discovering relations within gene expresion data using Data Mining and Machine Learning methods. 
    Principal Subjects:</p>
<ul>
    <li>Engineering and architecture of software and hardware systems.</li>
    <li>Algorithm theory and formal languages.</li>
    <li>Knowledge-based systems and Artificial Intelligence.</li>
    <li>Computer Networks.</li>
    <li>IT auditing. </li>
</ul>

<h2>Other Courses</h2>

<h3 class="date">July 2011</h3> 
<h4>Microsoft Dynamics CRM 2011</h4>
<p>Intensive course on MS Dynamics CRM 2011.</p>

<h3 class="date">July 2009</h3>
<h4>Cambridge Certificate in Advanced English (CAE)</h4>
<p> Equivalent to Common European Framework of Reference <strong>C1</strong> Level</p>

<h3 class="date">July 2005</h3> 
<h4>Cisco Certified Entry Networking Technician CCENT® Certification</h4>
<p>Basic Network Design and Maintenance Knowledge.</p>

