  <div class="inner-content top-rounded-border col-md-10" >
      <div class="text-center">
        <h2>Independent Software Engineer &amp; Researcher</h2>
        <p id="name" class="text-muted">Current Position</p>
      </div>
      <p>Self-employed as:</p>
      <ul>
        <li>Independent software engineer and consultant in web projects.</li>
        <li>Researcher as a collaborator of <a target="_blank" href="http://www.kau.edu.sa/">King Abdulaziz University</a>. Technical and Scientific writer.</li>
    </ul>
  </div>

<h2><span class="glyphicon glyphicon-briefcase"></span> Previous Work Experience</h2>

<h3 class="date">January 2012 - November 2013</h3>
<h4>Software Engineer / Full Stack Web Developer / Team Leader at <a target="_blank" href="http://www.mola.com">Mola.com</a></h4>
<p>Development of seed stage startup apps (web and mobile). Holding various roles, I carry out my tasks as a developer, software engineer, CTO, team leader or consultant, according to the context and the project. Some of the technologies I have used so far are: Node.js, MongoDB, Express.js, Grunt.js, Angular.js, jQuery, PHP, Zend Framework, PostgreSQL or ElasticSearch, among others</p>
<p>Accomplishments at Mola.com include:</p>

<ul>
<li>Evolved from web developer to team leader in 16 months.</li>
<li>Created Zasca.com as the sole programmer. Regarded as the most innovative project. Technologies: PHP Zend, Node.js, Angular.js, Require.js, Grunt, jQuery, Twitter API, Facebook API, MongoDB, Redis, Elastic Search.</li>
<li>Introduced a formal method for project estimations.</li>
<li>Introduced the use of TDD and SCRUM.</li>
<li>Advised and trained the team.</li>
</ul>



<h3 class="date">June 2011 - December 2011</h3>
<h4>Web and Mobile development</a></h4>
<p><strong>Nuublo</strong> v0.1 pre-alpha released.</p>
<p><strong>iRemember Where</strong> v0.1 released.</p>


<h3 class="date">May 2008 - May 2011 </h3>
<h4>Software Engineer / IT Researcher at
<a target="_blank" href="http://www.pcyta.com/en/">
    Albacete Research Institute of Informatics</a></h4>
<p><strong>Software Engineering, Consulting and Suppporting within the ATLANTIDA CENIT Project </strong>
    (Application of leading technologies to the future air traffic management), an initiative of the
    <a target="_blank" href="http://www.cdti.es/">Spanish Centre for the Development of Industrial Technology (CDTI)</a>.
    The project includes both private aeronautical corporations (Boeing, Altran, Iberia...) and universities
    gathered in a consortium. Accomplishments include:
</p>
<ul>
    <li>Quick adoption and learning of aeronautical concepts and methods (1 month).</li>
    <li>Design and development of a system enhancing current aeronautical information concepts.
        Use of DDS and CORBA for communications. Data management featuring Eurocontrol’s AIXM format.
        Implemented in <strong>C++</strong> with Eclipse, deployed in <strong>Linux CentOS</strong>.
        3-tier (Web UI featuring <strong>Ajax</strong> and <strong>JQuery</strong>, server core as Linux daemon, and <strong>PostgreSQL</strong> as database)
        and object-oriented analysis and design (using UML and Rational Rose and MS Visio), configuration management and testing.
        One of the few systems in the consortium delivered on time.</li>
    <li>Definition of an XML-based Aeronautical Information Message Format.</li>
    <li>Creation of Web Interfaces to interact with Air and Ground systems.</li>
    <li>Contribution to the specification of flight testing methodologies and experimental results.</li>
    <li>Technical Documentation: Problem’s statement, project proposals, concepts, design, deployment.</li>
</ul>
<p></p>
<p>I also performed some research activities on:</p>
<ul>
    <li>Aeronautical Information Services and Languajes, by presenting our progress in aeronautical information exchanges in
        transport conferences</li>
    <li>Wireless Sensor Networks (WSN): with everyone focused on physical and MAC layer, I’ve decided to give potential to
         the information these networks capture, by enhancing their interaction with scientists and researchers.
         It has a lot to do with Graphical Interfaces, Information Exchange Languages, Artificial Intelligence,
         Social Networks, Research Collaboration, Web 2.0…</li>
</ul>

<h3 class="date">August 2007 - May 2008</h3>
<h4>Software Developer at the <a target="_blank" href="http://inteco.es/">National Institute of Communication Technology  (INTECO) (Spain)</a></h4>
<p>Member of the <a target="_blank" href="http://cert.inteco.es/">Spanish INTECO CERT (Computer Emergency Response Team)</a>
    mainly worked in software development with .NET and security tasks. Accomplishments include:</p>
<ul>
<li>Supported the management of a Spanish antivirus sensor network, implemented scripts in <strong>Perl</strong>
    to calculate malware statistics (more than 12 million virus detections each year). Remarkable use of regular expressions.</li>
<li>Developed <a target="_blank" href="https://conan.cert.inteco.es/"> INTECO CONAN security tool for PCs </a>:
     Client-side tool for analysis using <strong>C++.NET</strong> and XML.
    Server side featured a Web UI for analysis results (<strong>PHP, Javascript, CSS, MySQL</strong>)
    and a statistics engine written in Perl.</li>
</ul>




<h3 class="date">January 2007 – July 2007</h3>
<h4>Trainee at the Delegation of the Regional Government of Castilla-La Mancha in Brussels (Belgium)</h4>
<p>
    Conducted research articles and reports regarding up-to-date topics in the EU, such as Industry, Energy, Research and Environment.
    Attended FP7 info days.
</p>


<h3 class="date">May 2005 – January 2006</h3>
<p>First job as a trainee programmer at the <a target="_blank" href="http://www.pcyta.com/en/">Albacete Research Institute of Informatics</a>. C++ and .NET.</p>
