<div terminal id="terminal" class="inner-content terminal col-md-10 ">
    <span id="typewriter" class="typewriter"></span>
    <span class="terminal-cursor"></span>
</div>

<div id="about-me" class="showed-by-js"  style="display:none">
  <div class="inner-content top-rounded-border col-md-10" >
      <div class="text-center">
        <h2>Hello!</h2>
        <p id="name" class="text-muted">My name is <strong>Jaime Ramírez</strong></p>
      </div>

      <div class="row">
        <div class="col-md-9">
          <p> I am  a <strong> Software Engineer</strong> with  more than 6 years of  professional experience,
            mainly web-oriented and featuring client-server architectures. I possess a strong background and theoretical foundations in
            <strong>Information Technology</strong>
            and <strong>Computer Science</strong>. Having studied at the
            <a href="http://www.uclm.es/">University of Castilla-La Mancha (UCLM)</a>,
            in 2007 I earned a Master's Degree in Computer Science. In 2010,
            I got a Post-graduate Master in Advanced Information Technologies.
          </p>
          <p> If you are interested in knowing more,
            you can scroll down or start by checking out <a href="#/skills">my skills</a>.
          </p>
          <p>
            Also, You can contact me by
                <a class="contact-icon-link" target="_blank" href="http://www.linkedin.com/in/jaimeram/en">
                  <span class="icon-linkedin"></span>
                </a> and
                <a class="contact-icon-link" target="_blank" href="http://www.twitter.com/jramcast">
                  <span class="icon-twitter"></span>
                </a> and of course
                <a class="contact-icon-link" href="mailto:jaime.ram@gmail.com">
                  <span class="glyphicon glyphicon-envelope"></span>
                </a>.
          </p>
        </div>

        <div class="col-md-3">
          <img src="/images/jaime_bn.jpg" alt="Jaime Ramírez Castillo" class="img-responsive profile-image">
        </div>
      </div>
  </div>


  <div class="header-image col-md-10" >
    <img src="/images/sunset.png" alt="Mallorca">
  </div>
  <div id="location" class="inner-content col-md-10">

    <p>
      Currently, I live and work in <strong>Palma de Mallorca</strong>, Spain as an <strong>Independent Software Engineer</strong> specialized in full stack web developments. I also collaborate with King Abdulaziz University, assisting them in their scientific research activities.
    </p>
    <p>In my freetime I enjoy letting off steam with sports. I regularly practice Vinyasa Yoga and running. I also do sporadic climbing to get advantage of the fabulous spots
      the island of Mallorca offers.</p>
    <p> Checkout my  <a href="#/experience">professional experience</a> to get insight into what I do.
    </p>
  </div>