<h2><span class="glyphicon glyphicon-picture"></span> Portfolio</h2>
<h3>Full Stack Web Development</h3>

<div class="media">
  <a class="pull-left" target="_blank" href="http://www.pregunti.com">
    <img class="media-object project-img" src="images/pregunti.jpg" alt="Pregunti">
  </a>
  <div class="media-body">
    <h4><a target="_blank" href="http://www.pregunti.com">
            Pregunti
        </a>
    </h4>
    <div>2013</div>
  </div>
</div>
<p><span class="text-muted">Web app for questions to verified professionals</span>.<br />
Leaded the development team.</p>

<div class="media">
  <a class="pull-left" target="_blank" href="http://www.matchball.com">
    <img class="media-object project-img" src="images/matchball.png" alt="Matchball">
  </a>
  <div class="media-body">
        <h4><a target="_blank" href="http://www.matchball.com">
                Matchball
            </a>
        </h4>
        <div>2013</div>
  </div>
</div>
<p><span class="text-muted">Football manager game on Facebook</span>.<br />
Development team member.</p>



<div class="media">
  <a class="pull-left" target="_blank" href="http://www.zasca.com">
    <img class="media-object project-img" src="images/zasca.jpg" alt="Zasca">
  </a>
  <div class="media-body">
        <h4><a target="_blank" href="http://www.zasca.com">
                Zasca
            </a>
        </h4>
        <div>2012-2013</div>
  </div>
</div>

<p><span class="text-muted">Social Content Curator, Content Sharing Tool and Gamification Marketing Portal. Allowed users to browse a huge number of post by topic, order by relevancy, post new content, and participate in tournaments to win prizes</span>.<br />
Zasca is my biggest achievement so far, probably because I was the only developer assigned to the project and programmed the whole site on my own. I had to play all the technical roles associated to the development of a web app: programmer, analyst, DBA, UX developer, CTO... As such, I had freedom to decide on technologies, succesfully choosing <strong>MongoDB, Redis, Node.js, AMD with Require.js, Grunt.js, ElasticSearch, AngularJS, Twitter and Facebook API</strong>. This is also the project where I started to embrace <strong>TDD</strong>.</p>


<div class="media">
  <a class="pull-left" target="_blank" href="http://www.nuublo.com">
    <img class="media-object project-img" src="images/nuublo.png" alt="Nuublo">
  </a>
  <div class="media-body">
        <h4><a target="_blank" href="http://www.nuublo.com">
                Nuublo
            </a>
        </h4>
        <div>2011</div>
  </div>
</div>

<p><span class="text-muted">Social Weather monitoring on top of Node.JS, Socket.io and Twitter Streaming API</span>.<br />
Nuublo was a code-for-fun mini-app that I created to get started with Node.js and Twitter API.</p>

<h3>Frontend Development</h3>
<h4><a target="_blank" href="http://www.habibfardoun.com/">Dr. Habib Fardoun's Personal Page</a></h4>
<div>2013</div>

<p>Created the website in Wordpress.</p>

<h3>Backend Development</h3>

<div class="media">
  <a class="pull-left" target="_blank" href="http://www.beezer.com/">
    <img class="media-object project-img" src="images/beezer.png" alt="Beezer">
  </a>
  <div class="media-body">
    <h4><a target="_blank" href="http://www.beezer.com/">Beezer</a></h4>
    <div>2013</div>
  </div>
</div>
<p><span class="text-muted">Beezer is a mobile app(iOS and Android) that allows you to share information with people around you, participate in interest groups, and find out what's 'hot' in your local area</span>.<br />
    I participated in this project by helping in the server-side development and engineering.
    </p>



<h3>iOS</h3>

<h4>iRemember Where</h4>
<div>2011</div>
<p>iRemember Where helps you remember where you leave your stuff by just storing a descriptive name,
a photo and the location of the item you wish to remember. <br />
I created this app to learn iOS development. I have not developed for iOS since then.
</p>


<h3>Other Software</h3>
<ul>

    <li>2011. Web Application for creation and edition of Aeronautical Information Publications (AIP). Compliant with EUROCONTROL AIXM 5.0 Model.</li>
    <li>2008 - 2011. D-INFO, Digital Information Services  (ATLANTIDA CENIT Project). </li>
    <li>2007 - 2008. <a target="_blank" href="https://conan.cert.inteco.es">INTECO-CERT CONAN, Configuration Analysis security software for Windows</a>. Reviews:
        <ul class='reviews'>
            <li>
                <blockquote>
                    '...creates an exhaustive report that allows to diagnose security problems that would remain hidden for an antivirus'
                     (<a target="_blank" href="http://www.genbeta.com/windows/conan-herramienta-de-analisis-de-vulnarabilidades-de-inteco">Genbeta</a>).
                </blockquote>
            </li>
            <li>
                <blockquote>
                    'Conan v1.0 ran more than 63.000 analysis for almost 22.000 users'
                    (<a target="_blank" href="http://www.elmundo.es/elmundo/2011/10/03/leon/1317653382.html">El Mundo</a>).
                </blockquote>
            </li>
        </ul>
    </li>
</ul>
<p></p>

<!-- <div class="clear"></div> -->


<h3>Scientific Publications</h3>
<ul>

    <li><strong>Towards improved student placement and preparation methods on Information Technologies post-secondary education</strong>. 2013 Federated Conference on Computer Science and Information Systems (FedCSIS).</li>

    <li><strong>CRehab: A Cloud-based Framework for the Management of Rehabilitation Processes</strong>. 2013 7th International Conference on Pervasive Computing Technologies for Healthcare (PervasiveHealth).</li>
    <li><strong>Education System in the Cloud to Improve Student Communication in the Institutes of: C-LearniXML</strong>. Procedia-Social and Behavioral Sciences, 47, 1762-1769. December 2012. (Elsevier Journal). SCOPUS.</li>
    <li><strong>Monitoring Students Moods for the Detection of Weaknesses in Secondary Schools</strong>.  Procedia-Social and Behavioral Sciences, 47, 2049-2054. December 2012 (Elsevier Journal). SCOPUS.</li>
    <li><strong>Looking For Leaders: Reaching the Future Leaders in Education through Online Social Networks</strong>.  Procedia-Social and Behavioral Sciences, 47, 2036-2043. December 2012(Elsevier Journal). SCOPUS.</li>
    <li><strong>Digital Information Services for the future Air Traffic Management System</strong> September 2010. International Conference on Intelligent Transportation Systems 2010.</li>
    <li><strong>Estableciendo las bases para las redes de sensores globales</strong>. June 2010. CISTI 2010 - 5ª Conferencia Ibérica de Sistemas y Tecnologías de Información.</li>
</ul>
<p></p>

<h3>Other</h3>
<ul>
    <li><a target="_blank" href="http://www.itknowingness.com">ITKnowingness BLOG</a>. Participation as an administrator and author.</li>
    <li>July 2011. <a target="_blank" href="http://www.ihci-conf.org/2011/committees.asp">IADIS Multi Conference on Computer Science Committee Member</a>.</li>
    <li>November 2010. Digital Information Services Poster Design. Science Fair at <a target="_blank" href="http://www.uclm.es/">University of Castilla-La Mancha</a>.</li>
    <li>October 2010. Deployment , design and administration of the <a target="_blank" href="http://www.itknowingness.com/">IT Knowingness Blog</a> with Wordpress.</li>
    <li>May 2007. 2nd position on Microsoft's Imagine Cup Spain 2007</li>

</ul>