<h2><span class="glyphicon glyphicon-star"></span> Skills</h2>
<h3 id="engineering" class="first">Software Engineering</h3>
<p>
    <strong>Software life cycle</strong> including  requirements, analysis and design, implementation,
     configuration management, continuous integration, testing, deployment, maintenance, refractoring and  documentation.
</p>

<p>
    Methodologies: among <strong>Agile</strong>, Test-based Development (<strong>TDD</strong>) and basic knowledge of BDD. Basic knowledge of
    Extreme Programming (XP) and Scrum. I also studied and applied RUP in 2006.
</p>



<h3 id="science">IT Science</h3>
<p>
    <strong>Object oriented analysis and design</strong>, <strong>Data structures, algorithm design, complexity orders</strong>, <strong>MVC</strong>,
    regular expressions, data mining, artificial intellingence, Bayesian networks, heuristics and combinatorials such as the Travelling salesman problem or Dijkstra's algorithm.
</p>



<h3 id="languages">Languages</h3>
<p> <strong>Javascript</strong> and <strong>PHP</strong> are my strongest languages right now, since I have worked with them in the last two years. I used JS as client, server-side(Node.js) and supporting development flows (Grunt.js, Bower, etc). With regard to PHP, I have used Laravel and Zend Frameworks. My development style is usually Object Oriented in PHP and Prototypal in JS.</p>
<p>Due to my last positions in Web development, I work with <strong>HTML</strong> and <strong>CSS</strong> on a daily basis.</p>
<p>Other languajes I have used in my career are Python, Objective-C, C++, Java, C#, C++, .NET, UML, PL/SQL, UML, Perl, XML, IDL or Latex. I switch confortably among them and do not find much problem in learning new ones. </p>



<h3 id="frameworks">Frameworks, libraries and APIs</h3>
<p><strong>Node.js</strong> and <strong>Express</strong> for server-side web app development. Socket.io.</p>
<p><strong>Angular.js</strong> for front-end web apps.</p>
<p><strong>jQuery</strong></p>
<p><strong>Require.js</strong> for module loading in client-side javascript.</p>
<p><strong>Laravel</strong> for server-side web app  PHP development.</p>
<p><strong>Zend</strong> for server-side web app development.</p>
<p><strong>Twitter</strong>, <strong>Facebook</strong> and <strong>eBay</strong> APIs.</p>
<p><strong>Bootstrap</strong>.</p>

<p>Before in my career I have used some other frameworks in different development environments: Cocoa Touch for iOS development, Boost for C++, .NET, CORBA and DSS.</p>


<h3 id="dbs">Data Bases</h3>
<p>Although I prefer to work with higher-level tiers, sometimes I also have to do work at the database level. I can do Data Base Design, relational and noSQL. <strong>MongoDB</strong>, <strong>MySQL</strong> and <strong>PostgreSQL</strong> are the ones I used the most.</p>



<h3 id="environments">IDEs and Tools</h3>
<p>Sublime Text, TextMate, PHPStorm, Vim, Yeoman, Grunt, Git and SVN.</p>
<p>Other tools that I have used previously in my career are XCode, Eclipse with C++ and PHP Plugins, Visual Studio, Netbeans, Notepad++, Joe.</p>


<h3 id="systems">Platforms</h3>
<p> Mac OS X, Linux (Debian).
    I have an intermediate knowledge of UNIX command and can perform administrator tasks
    (basically when I need to set up a system for development or deployment).
</p>



<h3 id="tools">Other stuff worth mentioning</h3>
<p>
    Conscious of the end-user. Keen on usable, accessible and attractive visual interfaces. Design basics.
    End-to-end testing.
</p>
<p>Technical and scientific writer. </p>
<p>Valgrind, SVN , VS. NET, Rational Rose, MS Visio, MS Project, Adobe Illustrator,
    Aeronautical Information Exchange Model by Eurocontrol.</p>

